html {
  box-sizing: border-box;
}
*,*::after,*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #bfbfbf;
  
}
header {
/*   position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #323a32d4,#ccd4e3,#aebcd6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  
}
.academy {
  font-size: 38px;
  color: black;
  padding: 10px;
  transition: 0.5s;
}
.academy:hover {
  transform: scale(1.2);
}
header nav ul li {
  position: relative;
  float: left;
}
header nav ul li a {
  padding: 15px;
  color: black;
  display: block;
}
header nav ul li a:hover {
  background: black;
  color: white;
}
nav ul li ul {
  position: absolute;
  left: 0;
  width: 180px;
  background: white;
  display: none;
  
}
nav ul li ul li {
  width: 100%;
}
nav ul li ul li {
  left: 80px;
  
}
nav ul li:hover>ul {
  display: initial;
  
}
h1 {
  padding-top: 150px;
  font-size: 35px;  
  text-align: center;
  background: #546469e0;
  padding: 50px;
}
.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 3fr);
  margin: 25px;
  justify-content: center;
 
} 
  
  
#home img { 
   border-radius: 5px;
   width: 100%;
   height: 100%;
   object-fit: cover;
  transition: all 1s ease; 
}
.about_4 {
  position: relative;
}
   .about_4 div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    top:0;
    left:0;
    background: rgba(255,255,255,0.5);     
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: all 0.4s ease-in-out;
}
   .about_4:hover div {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.about_2 {
  position: relative;
}
   .about_2 div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    top:0;
    left:0;
    background: rgba(255,255,255,0.5);     
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: all 0.4s ease-in-out;
}
   .about_2:hover div {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.about_6 {
  position: relative;
}
   .about_6 div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    top:0;
    left:0;
    background: rgba(255,255,255,0.5);     
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: all 0.4s ease-in-out;
}
   .about_6:hover div {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.flex {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 2fr);
  margin: 25px;
  justify-content: center;
}
.main img {
  width: 100%;
   height: 100%;
   object-fit: cover;
  
}
p {
  word-spacing: 1em;
  letter-spacing: 2px;
}
#about {
  display: flex;
  /* justify-content: center; */
  background-color: #d8f8f6;
  margin-top: 60px;
  /* min-height: 100vh; */
  
 
}
#about img {
  max-width: 360px;
  margin: 60px;
  border: 2px solid #aaaaf8; 
   border-radius: 5px; 
}
/* #about img:before {
  content: "";
  outline: 2px solid #a1a1d3;
  outline-offset: 5px;
} */

#inner_1 li {
  margin: 35px;
  padding: 55px;
  text-align: center;
 
}
#inner_1 li:nth-child(even) {
background-color: #b3b3e6;
}
#inner_1 li:nth-child(2n+1) {
background-color: #bcd095;
}


.wrap 

  

